<p id="title">
 
</p>
<fieldset>
  <legend style="text-align:center; font-size:150%; text-shadow: 8px 4px 16px;">Personal Details</legend>
  <table>
  <tr>
    <td>First Name:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Last Name:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Gender:</td><td><input type="checkbox" name="Male" value="Gender"/>Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="Female" value="Gender"/>Female</td>
            
  </tr>
  <tr>
    <td>Address 1:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Address 2:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Address 3:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Address 4:</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>County :</td><td><input type="text" /></td>
  </tr>
  <tr>
    <td>Country:</td><td><input type="text" /></td>
    <td>Post Code:</td><td><input type="text" /></td>
  </tr>
  <tr>
  <td>Phone:</td><td><input type="text" /></td>
  <td>Email Address:</td><td><input type="text" /></td>
  </tr>
    </table>
    <p><input type="Submit" id="title6" value ="Submit"/></p>
</fieldset>
<p id="title2">For some security reasons you need to fill this block</p>
<form>
	<fieldset>
		
		<legend style="text-align:center; font-size:150%; text-shadow: 8px 4px 16px;">Credit Card Type</legend>
			<input type="radio" name="card" value="Visa"/> <img src="../assets/american.png" style="width:40px; height:30px;"><br><br>
			<input type="radio" name="card" value="Debit"/> <img src="../assets/master.png" style="width:40px; height:30px;"><br><br>
			<input type="radio" name="card" value="Master"/> <img src="../assets/visa-large.gif" style="width:40px; height:30px;"><br><br>
			<input type="radio" name="card" value="Express"/><img src="../assets/download.png" style="width:40px; height:30px;"><br><br>
	
		Credit Card Number:<input type="text"/><br><br>
		Expiration Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select>
			<option value="Month">Month</option>
			<option value="January">January</option>
			<option value="Feburary">Feburary</option>
			<option value="March">March</option>
			<option value="April">April</option>

			<option value="May">May</option>
			<option value="June">June</option>
			<option value="July">July</option>
			<option value="August">August</option>
			<option value="September">September</option>
			<option value="October">October</option>
			<option value="November">November</option>
			<option value="December">December</option>
		</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Years:	
		<select>
		<option value="Years">Years</option>
		</select>
  </fieldset>
  <p><input type="submit" id ="title5" value ="Submit Here"/></p>
  <legend style="text-align:center; font-size:150%; text-shadow: 8px 4px 16px;">For Customers:</legend>
         
		<textarea placeholder="You can give your suggestion here , To improve our Scheme..." name="comments" cols="50" rows="8" ></textarea>
    <br><input type="submit" id="title4" value ="Send"/>
   