<!-- <mat-toolbar color='primary'>Posts</mat-toolbar> -->
<!-- <app-post-create></app-post-create>
<app-post-details></app-post-details> -->
<!-- <div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/']"><mat-icon>add</mat-icon></a>
</div> -->

<!--<p id="titleback"style="background-image: url(./assets/bwm_banner.jpg);"></p>-->
<img src="../assets/Genius_WebHero1.jpg" style="width:1365px; height:400px;">
<div id="titleback">
  <button mat-button [routerLink]="['/create']" color="Warn">Create</button>
  <button mat-button [routerLink]="['/list']">List</button>
  <button mat-button [routerLink]="['/update']" color="Warn">Update</button>
  <button mat-button [routerLink]="['/contactus']">ContactUs</button>
  </div>

<!--<button mat-button color="primary" [matMenuTriggerFor]="menu">Posts Menu</button>
<mat-menu color="primary" #menu="matMenu">
  <button color="primary" mat-menu-item [routerLink]="['/create']">Create</button>
  <button color="primary"mat-menu-item [routerLink]="['/']">List</button>
</mat-menu> -->

<router-outlet></router-outlet>
  
<p id="title3"><b>&#169;</b>All the Copyrigths of this web are property of User,To sell them without the permission of User is unlawful and prohibtted.<b>&#169;</b>  
</p>
