<p>
  update works!
</p>
<h1 id ="title"><i >BMW 1 Series</i></h1>
<p id ="title1">The <b>BMW 1 Series</b> is a series of small luxury cars manufactured by the German automaker BMW since 2004. 
  Successor to the BMW Compact,it has been produced in four different body styles.</p>

  <ul id ="titleul">
		<p id="titleContent">Contents</p>
		<li><a href="#Model codes">Model codes</a></li>
		<ul>
			<li>1st Generation</li>
			<li>2nd Generation</li>
			<li>2nd Generation LC</li>
    </ul>
    <li>E81, E82, E87, E88</li>
    <ul>
        <li>1 Series Active</li>
      </ul>
      <li>F20, F21</li>
    <li>Notes</li>
    <li><a href="https://en.wikipedia.org/wiki/BMW_1_Series#External_links">External Links</a></li>
    </ul>

    <div id = "titlediv">
        <h2 id="Model codes"><i>Model codes</i></h2>
          <p>The BMW 1 Series is a series of small luxury cars manufactured by the German automaker BMW since 2004. Successor to the BMW Compact, it has been produced in four different body styles.The BMW 1 Series is a series of small luxury cars manufactured by the German automaker BMW since 2004. Successor to the BMW Compact, it has been produced in four different body styles.</p>
          <p>The BMW 1 Series is a series of small luxury cars manufactured by the German automaker BMW since 2004. Successor to the BMW Compact, it has been produced in four different body styles.The BMW 1 Series is a series of small luxury cars manufactured by the German automaker BMW since 2004. Successor to the BMW Compact, it has been produced in four different body styles.The BMW 1 Series is a series of small luxury cars manufactured by the German automaker BMW since 2004. Successor to the BMW Compact, it has been produced in four different body styles.	</p>
      </div>
      <img src="../assets/bmw11.jpg" style="width:auto; height:auto;">
      <div id = "titlediv2">
          <h2 >E81, E82, E87, E88</h2>
          <p>The first-generation BMW 1 Series is a small family car produced by the German automaker BMW since 2004, when it replaced the BMW 3 Series Compact range as the smallest and cheapest vehicle (depending on the engine model) in the BMW range. As of May 2013, the 3-door hatchback (model code E81) and 5-door hatchback (E87) have been superseded by the F20 and F21 models; the 2-door coupe (E82) and the two-door convertible (E88) have been superseded by the new BMW 2 Series.
          The first-generation BMW 1 Series is a small family car produced by the German automaker BMW since 2004, when it replaced the BMW 3 Series Compact range as the smallest and cheapest vehicle (depending on the engine model) in the BMW range. As of May 2013, the 3-door hatchback (model code E81) and 5-door hatchback (E87) have been superseded by the F20 and F21 models; the 2-door coupe (E82) and the two-door convertible (E88) have been superseded by the new BMW 2 Series.
          </p>	
          <p>The first-generation BMW 1 Series is a small family car produced by the German automaker BMW since 2004, when it replaced the BMW 3 Series Compact range as the smallest and cheapest vehicle (depending on the engine model) in the BMW range. As of May 2013, the 3-door hatchback (model code E81) and 5-door hatchback (E87) have been superseded by the F20 and F21 models; the 2-door coupe (E82) and the two-door convertible (E88) have been superseded by the new BMW 2 Series.
          </p>
      </div>
      <table style = " font-family: arial, sans-serif;  border-collapse:collapse; width: 100%;">
	
          <tr style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">
            
            <th style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Company</th>
            <th style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Contact</th> 
            <th style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Country</th>
           </tr>
           <tr  style = "background-color: #dddddd;">
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Smith</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Germany</td>
           </tr>
           <tr>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Francisco Chang</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">London</td>
          </tr>
           <tr  style = "background-color: #dddddd;">
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Roland Mendel</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">France</td>
           </tr>
           <tr>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Helen Bennett</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Italy</td>
          </tr>
           <tr  style = "background-color: #dddddd;">
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Yoshi Tannamuri</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Canada</td>
           </tr>
           <tr>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">BMW</td>
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">Giovanni Rovelli</td> 
            <td style = "border: 1px solid #dddddd; text-align: left; padding: 8px;">poland</td>
          </tr>
          </table>
    <!--
    <br>
		<li><a href="#E81, E82, E87, E88">E81, E82, E87, E88</a></li><br>
		<ul>
			<li>1 Series ActiveE</li><br>
		</ul>
		<li>F20, F21</li><br>
		<li>Notes</li><br>
		<li><a href="https://en.wikipedia.org/wiki/BMW_1_Series#External_links">External Links</a></li>
	</ul>-->
	