#title{
    text-align:center; font-size:400%; color:#d9d9d9;
     width:600px; margin: auto; border: 6px outset #A9A9A9; text-shadow: 4px 4px 6px #8080ff;
}
#title1{
    font-style:italic;
}
#titleul{
    color:black; width:180px; height:auto; border: 2px solid rgb(105, 101, 168);
}
#titlediv{
    background-color:black;color:white;padding:20px;
}
#titleContent{
    font-style:italic;
    font-size: 0.50cm;
    text-shadow: 4px 4px 6px #8080ff;
}
#titlediv2{
    background-color:rgb(55, 89, 97);color:white;padding:20px;
}